.nav {
  --bs-nav-link-padding-x: .5rem;
}

  .nav.directory-labels {
  --bs-nav-link-padding-x: .2rem;
}

.nav-text.directory-labels {
  padding-top: var(--bs-nav-link-padding-y);
  padding-bottom: var(--bs-nav-link-padding-y);
  padding-left: 0;
  padding-right: 0;
  //color: var(--bs-nav-link-color)
}

.nav-text {
  padding-top: var(--bs-nav-link-padding-y);
  padding-bottom: var(--bs-nav-link-padding-y);
  padding-left: var(--bs-nav-link-padding-x);
  padding-right: var(--bs-nav-link-padding-x);
  //color: var(--bs-nav-link-color)
}

.nav-item input.form-control {
  margin-top: var(--bs-nav-link-padding-y);
  margin-bottom: var(--bs-nav-link-padding-y);
  margin-left: calc(2 * var(--bs-nav-link-padding-x));
  margin-right: var(--bs-nav-link-padding-x);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--bs-nav-link-padding-x);
  padding-right: var(--bs-nav-link-padding-x);
}

.container-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
