<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
  <div class="container">
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="goBack()">
            <span class="bi bi-chevron-double-left"></span>
            Back
          </a>
        </li>
        <li class="nav-item nav-text">|</li>
      </ul>
    </div>
    <div>
      <ul class="nav directory-labels">
        <ng-container *ngFor="let link_element of directory_link_elements">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['./..', link_element['path']]">
              {{link_element.text}}
            </a>
          </li>
          <li class="nav-item nav-text directory-labels">/</li>
        </ng-container>
        <li class="nav-item">
          <input class="form-control" type="text" placeholder="..." [(ngModel)]="directory_input_value" (keyup.enter)="onDirectoryChangeInput($event)">
        </li>
      </ul>
    </div>
    <span class="flex-grow-1"></span>
    <div>
      <ul class="nav" style="--bs-nav-link-padding-x: 0.5rem;">
        <li class="nav-item nav-text">|</li>
        <li class="nav-item">
          <input type="file" multiple="true" style="display: none" (change)="onFileUploadInput($event)" [(ngModel)]="file_input_value" #file_input_element>
          <a class="nav-link" style="cursor: pointer" (click)="file_input_element.click()">
            <span class="bi bi-cloud-arrow-up"></span>
            Upload
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="download_all()">
            <span class="bi bi-cloud-arrow-down"></span>
            All
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngFor="let file_index_entry of file_index_entries">
  <app-fileshare-view-file-index-entry [file_index_entry]="file_index_entry" (change_into_directory)="changeIntoDirectory(file_index_entry.name)"></app-fileshare-view-file-index-entry>
</div>

<div class="container">
  <div *ngFor="let current_upload_state of current_upload_states">
    <div class="row border p-2 m-1" style="border-radius: 10px">
      <span>share/{{ current_upload_state.index_path }}/{{ current_upload_state.filename }}</span>
      <div class="progress">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ current_upload_state.progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: current_upload_state.progress + '%' }"
        >
          {{ current_upload_state.progress }}%
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-bottom">
  <div class="row m-1">
    <app-error-message-footer [error_message]="error_message_footer_value"></app-error-message-footer>
  </div>
</div>
