<div class="container">
  <div class="row border p-2 m-1" style="border-radius: 10px">
    <ng-container *ngIf="file_index_entry.owner !== undefined; else directory_element_reference">
      <div class="col">
        <a style="color: blue; cursor: pointer" (click)="download()">{{file_index_entry.name}}</a>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger mx-1" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .9rem;" (click)="delete()">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </ng-container>
    <ng-template #directory_element_reference>
      <div class="col">
        <a style="color: blue; cursor: pointer" (click)="changeIntoDirectory()">{{file_index_entry.name}}</a>
      </div>
    </ng-template>
  </div>
</div>
