<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error_message">
  <span class="bi bi-info-circle-fill flex-shrink-0 me-2" role="img"></span>
  {{ error_message }}
  <button type="button" class="btn-close" (click)="dismiss()"></button>
</div>
